.container{
    margin: top 50px;px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .card-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-location {
    font-size: 16px;
    color: #777;
  }