.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
  }
  
  .form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form img {
    height: 80px;
    margin-bottom: 20px;
  }
  
  .form p#tagline {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .form input#desc {
    height: 120px;
  }
  
  .form input[type="submit"] {
    background-color: #D1B555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    padding: 12px 0;
  }
  
  .form input[type="submit"]:hover {
    background-color: #D1B000;
  }