/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #D1B000;
    text-decoration: none;
  }
  
  /* Main styles */
  main {
    background-color: #f2f2f2;
    padding: 80px 20px;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #D1B000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: start;
  }
  
  .product {
    display: grid;
    grid-template-rows: auto auto 1fr;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .product h2 {
    margin: 0;
  }
  
  .product p {
    margin: 0;
  }
  
  .product .description {
    margin-bottom: 10px;
  }